/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Emilys Candy', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #ed4264, #ffedbc );
    background-size: 200% 200%;
    animation: backgroundAnimation 20s infinite;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.no-underline {
    text-decoration: none; }

.emilys {
    font-family: 'Emilys Candy', cursive;
    font-size: 120px;
}

.swanky {
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 120px;
}

.container {
    text-align: center;
}
.lyric {
    display: inline-block;
    font-size: 100px; 
    margin: 0 20px; 
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.glow:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #ffeb3b, 0 0 30px #893bff, 0 0 40px #cb3bff;
    color: #b516c6; 
    transition: text-shadow 0.3s ease;
}
.hover-duplicate {
    transition: transform 0.3s ease;
}

.hover-duplicate:hover {
    transform: scale(1.2); 
    color: #cd00ed; 
}

.hover-uppercase-glow {
    transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.hover-uppercase-glow:hover {
    text-shadow: 0 0 10px #e69b0f, 0 0 20px #de3bff;
    transform: scale(1.5); 
    text-transform: uppercase; 
}
.hover-blur:hover {
    filter: blur(5px); 
    transition: filter 0.3s ease; 
}
.bounce {
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
.hover-ghost:hover::after {
    content: "friends";
    position: absolute;
    top: 5px;
    left: 5px;
    color: rgba(255, 255, 255, 0.5); 
    opacity: 0;
    animation: ghostAppear 0.5s ease forwards;
}


@keyframes ghostAppear {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}































