/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Emilys Candy', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #ed4264, #ffedbc );
    background-size: 200% 200%;
    animation: backgroundAnimation 20s infinite;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    text-align: center;
}

.line {
    margin: 1rem 0;
}
.emilys {
    font-family: 'Emilys Candy', regular;
    font-size: 120px;
}

.swanky {
    font-family: 'Fontdiner Swanky', regular;
    font-size: 120px;
}

.lyric {
    display: inline-block;
    font-size: 100px;
    margin: 0 10px;
    color: #fff;
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
}


.no-spin:hover {
    transform: none;
}
.no-underline {
    text-decoration: none;
}


.hover-glow:hover {
    text-shadow: 0 0 15px #ac19aa, 0 0 30px #ff5733;
    transition: text-shadow 0.3s ease;
}


.hover-blur-glow:hover {
    text-shadow: 0 0 15px #a61ab3, 0 0 30px #ff5733;
    filter: blur(2px);
    transition: text-shadow 0.3s ease, filter 0.3s ease;
}



.hover-ghost:hover::after {
    content: "always";
    position: absolute;
    top: 5px;
    left: 5px;
    color: rgba(255, 255, 255, 0.5); 
    opacity: 0;
    animation: ghostAppear 0.5s ease forwards;
}


@keyframes ghostAppear {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}























