body {
    margin: 0;
    padding: 0;
    font-family: 'Emilys Candy', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #ed4264, #ffedbc );
    background-size: 200% 200%;
    animation: backgroundAnimation 20s infinite;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    text-align: center;
}

.line {
    margin: 1rem 0;
}

.lyric {
    display: inline-block;
    font-size: 100px; 
    margin: 0 20px; /* Increased horizontal margin for more spacing */
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover Effects for Various Words */
.hover-disappear:hover {
    opacity: 0; /* Disappears on hover */
    transition: opacity 0.4s ease; /* Smooth transition */
}

.last-lyric {
    color: #fff;
    text-decoration: none; /* Remove underline */
    transition: transform 0.5s ease, text-shadow 0.5s ease;
}

.last-lyric:hover {
    animation: bounce 0.5s infinite; /* Bounce effect */
    text-shadow: 0 0 15px #ffeb3b, 0 0 30px #8f0291; /* Glow effect */
    color: #00aeed;
}

/* Bounce animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
















