/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Emilys Candy', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, #ed4264, #ffedbc );
    background-size: 200% 200%;
    animation: backgroundAnimation 20s infinite;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    text-align: center;
}

h1.lyrics {
    font-size: 3rem;
    color: #ffffff;
    line-height: 1.5;
}


.lyric {
    display: inline-block;
    transition: all 0.3s ease;
}

.swanky {
    font-family: 'Fontdiner Swanky', cursive;
    color: #ffffff; 
    font-size: 120px;
}

.emilys {
    font-family: 'Emilys Candy', cursive;
    color: #feffff; 
    font-size: 120px;
}



/* Bounce and Glow Effect */
.hover-glow-bounce:hover {
    animation: bounce 1s infinite; /* Bouncing effect */
    text-shadow: 0 0 10px #e79a0d, 0 0 20px #f2a408; /* Neon glow in LimeGreen */
    color: #4eabf7;
}


.hover-uppercase-glow:hover {
    text-transform: uppercase;
    text-shadow: 0 0 10px #b814ff; 
}

a.no-underline {
    text-decoration: none;
    color: inherit;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); 
    }
    40% {
        transform: translateY(-20px); 
    }
    60% {
        transform: translateY(-10px); 
    }
}






















